<div class="po-wrapper">
  <po-toolbar p-title="SEFAZ - GCC"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default p-title="GCC - Gestão de Cadastro do Contribuinte">
    <div>
      <p> O CAD-e consiste em uma ferramenta disponibilizada na Internet que visa aperfeiçoar a logística de atendimentos concernentes às solicitações de cadastramento, atualizações cadastrais do contribuinte do ICMS e demais serviços de competência do DEINF, de forma adequada às novas tendências indicadas pelos programas nacionais Cadastro Sincronizado, REDESIM, SPED e Simples Nacional, utilizando para tanto, tecnologia destinada a incrementar a comunicação, ao combate à sonegação e elisão fiscal, à diminuição do custo Brasil (burocracia) e, principalmente, objetivando consolidar uma política de atendimento ao CIDADÃO. </p>
    </div>
    <br>
    <div>
      <p>Todas as solicitações de inscrição estadual continuarão sendo objeto de análise pela Gerência de Cadastro - GCAD, sendo a referida análise realizada posteriormente ao deferimento automático. Assim, a situação cadastral de tais inscrições possuirá a restrição Ativo Provisório, indicando que a análise de seu pedido ainda não foi concluída. Constará, ainda, em seus dados, a observação: Inscrição pendente de análise e ratificação definitiva das informações. Sujeita a alterações por exigência legal. </p>
    </div>
    <br>
    <div>
      <p>Após a conclusão da análise do processo de inscrição e, caso não seja constatada qualquer divergência de dados, inconsistência ou irregularidade do contribuinte, será efetuada a retirada da restrição Ativo Provisório. Caso seja identificada irregularidade sanável durante a análise, o contribuinte será notificado a efetuar as devidas correções no prazo legal. O não cumprimento da notificação importará na suspensão da inscrição estadual. Já na hipótese da constatação de irregularidade ou vício insanável, a inscrição será cancelada de ofício, nos termos da legislação vigente. </p>
    </div>
    <br>
    <div>
      <p> O CAD-e consiste em uma ferramenta disponibilizada na Internet que visa aperfeiçoar a logística de atendimentos concernentes às solicitações de cadastramento, atualizações cadastrais do contribuinte do ICMS e demais serviços de competência do DEINF, de forma adequada às novas tendências indicadas pelos programas nacionais Cadastro Sincronizado, REDESIM, SPED e Simples Nacional, utilizando para tanto, tecnologia destinada a incrementar a comunicação, ao combate à sonegação e elisão fiscal, à diminuição do custo Brasil (burocracia) e, principalmente, objetivando consolidar uma política de atendimento ao CIDADÃO. </p>
    </div>
    <br>
    <div>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ex cupiditate excepturi. Similique obcaecati modi non earum doloribus aspernatur dignissimos, sint ipsa, dolores voluptatum, impedit accusantium magni facilis ad ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam recusandae quisquam quibusdam, suscipit perspiciatis ea ipsum amet aut libero, nihil exercitationem iusto. Nemo exercitationem ullam excepturi praesentium explicabo eveniet. </p>
    </div>
    <div>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ex cupiditate excepturi. Similique obcaecati modi non earum doloribus aspernatur dignissimos, sint ipsa, dolores voluptatum, impedit accusantium magni facilis ad ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam recusandae quisquam quibusdam, suscipit perspiciatis ea ipsum amet aut libero, nihil exercitationem iusto. Nemo exercitationem ullam excepturi praesentium explicabo eveniet. </p>
    </div>

  </po-page-default>
</div>
